<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
  <test  name="Firefox Test">
  <parameter name="Username" value="subbu"></parameter>
  <parameter name="Password" value="8121720209"></parameter>
    <classes>
      <class name="testNg.parameters"/>
      <class name="GroupTest.GroupExamples"/>
      <class name="Parameterization.parameters"/>
      
      
    </classes>
  </test> <!-- Test -->
  
  </suite>
  
 

